<div class="container-fluid p-0" style="height: 83vh;">
  <header 
    style="background-image: url('assets/images/back.jpg'); 
           background-size: cover; 
           background-position: right center; 
           width: 100%; 
           height: 100vh; 
           display: flex; align-items: center;">
           
    <div class="container text-white" 
         style="flex: 1; padding-left: 50px; text-align: left;">
      <h1 class="display-4 font-weight-bold">Welcome to Task Manager</h1>
      <p class="lead">Manage your tasks efficiently with our tool.</p>
      <a routerLink="/login" class="btn btn-light btn-lg mt-3 shadow">Get Started</a>
    </div>
    
  </header>
</div>
